<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">LamNV Education</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="https://scontent.fdad1-3.fna.fbcdn.net/v/t1.6435-1/cp0/p40x40/131307098_1097128367469263_7704593005921245664_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=dbb9e7&_nc_ohc=w8mbvsFjWA4AX9-s_Gv&_nc_ht=scontent.fdad1-3.fna&oh=592e75670314545f2aec1efe71dec03d&oe=61484DBA"
                            alt="" class="user-avatar">
                        Lâm nguyễn
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/courses/create">Đăng khóa học</a>
                        <a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a>
                        <a class="dropdown-item" href="/me/stored/news">Bài viết của tôi</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Đăng xuất</a>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</nav>